/*
    You can add your own custom styles here.
*/


div.inline-meta > svg,time {
  display: none;
}

.sidebar {
    &.sticky {
        @include respond(md) {
            position: sticky;
        }
    }
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-self: stretch;
    padding-left: inherit;

    @include respond(md) {
        gap: var(--sidebar-element-separation);
    }

    margin-bottom: calc(-1 * var(--sidebar-element-separation));

    @include respond(md) {
        margin-bottom: 0;
    }

    &> :not(:last-child) {
        margin-bottom: var(--sidebar-element-separation);

        @include respond(md) {
            margin-bottom: 0;
        }
    }

    max-width: none;
    width: 100%;
    position: relative;

    --sidebar-avatar-size: 100px;
    --sidebar-element-separation: var(--spacing-lg);
    --emoji-size: 40px;
    --emoji-font-size: 20px;

    @include respond(md) {
        width: auto;
        padding-top: var(--main-top-padding);
        padding-bottom: var(--main-top-padding);
        max-height: 100vh;
    }

    @include respond(2xl) {
        --sidebar-avatar-size: 120px;
        --sidebar-element-separation: var(--spacing-xl);
        --emoji-size: 40px;
    }

    &.sticky {
        top: 0;
    }

    &.compact {
        --sidebar-avatar-size: 80px;
        --emoji-size: 30px;
        --emoji-font-size: 15px;

        header {
            @include respond(lg) {
                flex-direction: row;
            }

            .site-meta {
                gap: var(--spacing-xs);
            }

            .site-name {
                font-size: 1.4rem;

                @include respond(2xl) {
                    font-size: 1.75rem;
                }
            }

            .site-description {
                font-size: 1.4rem;
            }
        }
    }
}

.right-sidebar {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: var(--widget-separation);

    &.sticky {
        top: 0;
    }

    @include respond(lg) {
        padding-top: var(--main-top-padding);
        padding-bottom: var(--main-top-padding);
    }
}

.sidebar header {
    z-index: 1;
    transition: box-shadow 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-element-separation);

    @include respond(md) {
        padding: 0;
    }

    .site-avatar {
        position: relative;
        margin: 0;
        width: var(--sidebar-avatar-size);
        height: var(--sidebar-avatar-size);
        flex-shrink: 0;

        .site-logo {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            box-shadow: var(--shadow-l1);
        }

        .emoji {
            position: absolute;
            width: var(--emoji-size);
            height: var(--emoji-size);
            line-height: var(--emoji-size);
            border-radius: 100%;
            bottom: 0;
            right: 0;
            text-align: center;
            font-size: var(--emoji-font-size);
            background-color: var(--card-background);
            box-shadow: var(--shadow-l2);
        }
    }

    .site-meta {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        justify-content: center;
    }

    .site-name {
        color: var(--accent-color);
        margin: 0;
        font-size: 3.6rem;
        font-family: Satoshi, Noto Sans JP, Noto Sans KR, Noto Sans TC, Arial, Tahoma, sans-serif;
        letter-spacing: 0.16px;
        line-height: 4.7rem;
        font-weight: 840;

        @include respond(2xl) {
            font-size: 3.8rem;
        }
    }

    .site-handle {
        color: rgba(255,255,255,0.35);
        font-weight: normal;
        margin: 0;
        font-size: 1.4rem;
        letter-spacing: 0.14px;
        line-height: 1.8rem;

        @include respond(2xl) {
            font-size: 1.6rem;
        }
    }
    .site-description {
        color: rgba(255,255,255,1);
        font-weight: normal;
        margin: 0;
        font-size: 1.4rem;
        letter-spacing: 0.14px;
        line-height: 1.8rem;

        @include respond(2xl) {
            font-size: 1.6rem;
        }
    }
}

[data-scheme="dark"] {
    #dark-mode-toggle {
        color: var(--accent-color);
        font-weight: 700;

        .icon-tabler-toggle-left {
            display: none;
        }

        .icon-tabler-toggle-right {
            display: unset;
        }
    }
}

#dark-mode-toggle {
    margin-top: auto;
    color: var(--body-text-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: var(--menu-icon-separation);

    .icon-tabler-toggle-right {
        display: none;
    }
}

#i18n-switch {
    color: var(--body-text-color);
    display: inline-flex;
    align-content: center;
    gap: var(--menu-icon-separation);

    select {
        border: 0;
        background: none !important;
        color: var(--body-text-color);
        padding: 0 !important;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &::-ms-expand {
            display: none;
        }

        option {
            color: var(--card-text-color-main);
            background-color: var(--card-background);
        }
    }
}

h3:has(+ ul) {
  margin-bottom: 4px !important;
}
ul {
  margin-top: 0px;
}

.test > h4 {

}

.main-article > .article_header > .article-details > .article-title-wrapper > .article-title > a {

}
.article-details {
    padding-bottom: 16px;
    padding-top: 16px;
    row-gap: 0px;
}

h4.article-subtitle {
    display: none;
}
.article-license {
    display: none;
}

.article-price {
    color: rgba(255,255,255,0.6);
    font-size: 17px;
    font-weight: 440;
    line-height: 24px;
    margin-bottom: 4px;
    margin-top: 0px;
    display: block;
}

article.main-article .article-title {
    font-size: 3.2rem;
    font-weight: 840;
    letter-spacing: 0.16px;
    line-height: 42px;
    margin-bottom: 0px;
}

article.main-article .article-subtitle {
    color: rgba(255,255,255,0.35) !important;
    font-size: 17px !important;
    font-weight: 440 !important;
    line-height: 24px !important;
    margin-bottom: 0px !important;
    display: block;
}

article.main-article .article-price {
    color: rgba(255,255,255,0.6) !important;
    font-size: 22px !important;
    font-weight: 440 !important;
    line-height: 26px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

article.main-article .article-price > b {
    color: #fff;
    font-size: 22px;
    font-weight: 440;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}

article.main-article .article-license {
    color: #fff;
    font-size: 16px;
    font-weight: 640;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: block;
}

.article-list .article-header {
    background-color: #111;
}

.archives .widget-icon {
    display: none;
}
.archives .widget-title {
    display: none;
}

.widget-title {
    margin-top: 5px;
    margin-left: 5px;
}

.article-list--compact a {
    background-color: #111;
}

p.no-text {
    margin: 0px;
}

p.no-text div.gallery {
    margin-top: 0px;
    margin-bottom: -5px;
}